.rodape-logo {
    display: flex;
    margin-right: 12rem;
}

.rodape-logo__links {
    display: flex;
}

@media (min-width: 0px) and (max-width: 767px) {
    .rodape-logo__links {
        display: flex;
        flex-direction: column;
    }
    .rodape-logo {
        margin-right: 0;
    }
    .rodape-logo {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .rodape-logo__links {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
    }
    .rodape-logo {
        margin-right: 0;
        padding-right: 12px;
        margin-bottom: 10px;
    }
}