.produto__botao {
    width: 566px;
    height: 51px;
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
}

@media (min-width: 0px) and (max-width: 767px) {
    .produto__botao {
        width: 328px;
    }
    #produto__form {
        width: 328px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .produto__botao {
        width: 704px;
        height: 40px;
    }
    #produto__form {
        width: 704px;
        height: 82px;
    }
}

@media (min-width: 1025px) {
    .produto__botao {
        width: 559px;
        height: 40px;
    }
}